extends layout

block content
  .container
    .hero-unit
      h1 Hello, world!
      p 床前明月光，疑是地上霜，舉頭望明月，低頭思故鄉。
      p
        a.btn.btn-primary.btn-large Learn more
    .row
      .span4
        h2 Heading 1
        p 君不見，黃河之水天上來，奔流到海不復回，君不見，高堂明鏡悲白髮，朝如青絲暮如雪
        p
          a(href='#',data-bitly-type='bitly_hover_card').btn View details
      .span4
        h2 Heading 2
        p 人生得意須盡歡，莫使金樽空對月
        p
          a(href='#',data-bitly-type='bitly_hover_card').btn View details
      .span4
        h2 Heading 3
        p 國破山河在，城春草木深，感時花濺淚，恨別鳥驚心
        p
          a(href='#',data-bitly-type='bitly_hover_card').btn View details
    hr
